<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <contextName>logback</contextName>

    <!--导入 spring boot 默认配置-->
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <!-- 异步输出 -->
    <appender name ="ASYNC" class= "ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold >0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref ="FILE"/>
    </appender>

    <!-- 测试环境+开发环境. 多个使用逗号隔开. -->
    <springProfile name="dev,test">
        <property name="ROOT_LOG_LEVEL" value="INFO"/>
        <property name="SQL_LOG_LEVEL" value="INFO"/>
    </springProfile>

    <!-- 生产环境. -->
    <springProfile name="prod">
        <property name="ROOT_LOG_LEVEL" value="INFO"/>
        <property name="SQL_LOG_LEVEL" value="INFO"/>
    </springProfile>

    <!--spring 日志-->
    <logger name="org.springframework" level="INFO"/>

    <!--sql 日志-->
    <logger name="org.apache.ibatis" level="${SQL_LOG_LEVEL}"/>
    <logger name="java.sql" level="${SQL_LOG_LEVEL}"/>

    <!--root 日志-->
    <root level="${ROOT_LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC"/>
    </root>

    <!--排除 日志-->
    <logger name="sun.rmi" level="ERROR"/>
    <logger name="org.apache.tomcat" level="ERROR"/>
    <logger name="org.apache.catalina" level="ERROR"/>
    <logger name="org.hibernate.validator.internal" level="ERROR"/>

</configuration>
