<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>公告</title>
    <script th:src="@{webjars/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{webjars/sockjs-client/dist/sockjs.min.js}"></script>
    <script th:src="@{webjars/stomp-websocket/lib/stomp.min.js}"></script>
</head>
<body>
<div class="message">
    <span class="content"></span>
</div>
<script>
    window.onload = function(){
        noticeSocket();
    };

    var noticeSocket = function () {
        var s = new SockJS('/socket');
        var stompClient = Stomp.over(s);
        stompClient.connect({}, function () {
            console.log('notice socket connected!');
            stompClient.subscribe('/topic/notice', function (data) {
                $('.message span.content').html(data.body);
            });
        });
    };

</script>
</body>
</html>